{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'Varanasi Software Junction.png'%}">
    </a>
    <h1>Varanasi Software Junction</h1>
    <p>Python and DJango at Varanasi Software Junction.</p>
    <h1>Updated</h1>
    <a type="button" class="btn btn-lg btn-default" href="https://github.com/Varanasi-Software-Junction/pythoncodecamp"><span class="glyphicon glyphicon-flash"></span> Getting Started with Python</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/Varanasi-Software-Junction/varanasisoftwarejunction"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>

{% endblock %}
